html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y:auto;
    padding: 0;
    margin: 0;
}

/* * {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

* {
    padding: 0;
    margin: 0;
    white-space: normal;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

#wrapper {
    width: 100%;
    height: 100%;
}

.wrap-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row !important;
}

.space-even {
    justify-content: space-evenly;
}

.logodiv {
    flex: 1;
}

.maindiv {
    flex: 8;
}

.logodetailsdiv {
    flex: 1;
}

.height-100 {
    height: 100%;
}

.px-15 {
    padding: 15px !important;
}

.px-20 {
    padding: 20px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pt-25 {
    padding-top: 25px !important;
}

.ma_icons {
    width: 205px;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.w-10-p {
    width: 10% !important;
}

.w-75 {
    width: 60% !important;
}

.w-100-p {
    width: 100% !important;
}

.thebgdiv {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.the_agenda1 {
    background:rgba(72, 78, 0, 0.79);
    /* background: #AFB838; */
    /*background: linear-gradient(0deg, rgba(72, 78, 0, 0.79) 27%, rgba(175, 184, 56, 0.24) 59%, rgba(255, 255, 255, 0) 100%);*/
    /* 
    background: #AFB838;
    background: linear-gradient(20deg, rgba(175, 184, 56, 0.99) 20%, rgba(0, 0, 0, 0.13) 70%); */
}

p.the_agenda1:hover {
    background: linear-gradient(0deg, rgba(175, 184, 56, 0.14) 27%, rgba(175, 184, 56, 0.24) 59%, rgba(255, 255, 255, 0) 100%);
}

.the_agenda2 {
    background-color: rgba(50, 28, 5, 0.79);
    /* background: #de8b35;
    background: linear-gradient(0deg, rgba(50, 28, 5, 0.79) 27%, rgba(222, 139, 53, 0.24) 59%, rgba(255, 255, 255, 0) 100%); */
}

p.the_agenda2:hover {
    background: linear-gradient(0deg, rgb(222, 139, 53, 0.14) 27%, rgb(222, 139, 53, 0.24) 59%, rgba(255, 255, 255, 0) 100%);
}

.the_agenda3 {
    /* background: #e73b2b;
    background: linear-gradient(0deg, rgba(33, 10, 8, 0.79) 27%, rgba(231, 59, 43, 0.24) 59%, rgba(255, 255, 255, 0) 100%); */
    background-color: rgba(33, 10, 8, 0.79);
}

p.the_agenda3:hover {
    background: linear-gradient(0deg, rgb(231, 59, 43, 0.14) 27%, rgb(231, 59, 43, 0.24) 59%, rgba(255, 255, 255, 0) 100%);
}

.the_agenda4 {
    background-color: rgba(93, 16, 55, 0.79);
    /* background: #e12887;
    background: linear-gradient(0deg, rgba(93, 16, 55, 0.79) 27%, rgba(225, 40, 135, 0.24) 59%, rgba(255, 255, 255, 0) 100%); */
}

p.the_agenda4:hover {
    background: linear-gradient(0deg, rgb(225, 40, 135, 0.14) 27%, rgb(225, 40, 135, 0.24) 59%, rgba(255, 255, 255, 0) 100%);
}

.the_agenda5 {
    background-color: rgba(25, 60, 69, 0.79);
    /* background: #47a7bf;
    background: linear-gradient(0deg, rgba(25, 60, 69, 0.79) 27%, rgba(71, 167, 191, 0.24) 59%, rgba(255, 255, 255, 0) 100%); */
}

p.the_agenda5:hover {
    background: linear-gradient(0deg, rgb(71, 167, 191, 0.14) 27%, rgb(71, 167, 191, 0.24) 59%, rgba(255, 255, 255, 0) 100%);
}

.the_agenda6 {
    background-color: rgba(78, 56, 7, 0.79);
    /* background: #fbb81f;
    background: linear-gradient(0deg, rgba(78, 56, 7, 0.79) 27%, rgba(251, 184, 31, 0.24) 59%, rgba(255, 255, 255, 0) 100%); */
}

p.the_agenda6:hover {
    background: linear-gradient(0deg, rgb(251, 184, 31, 0.14) 27%, rgb(251, 184, 31, 0.24) 59%, rgba(255, 255, 255, 0) 100%);
}

.the_agenda7 {
    background-color: rgba(63, 65, 28, 0.79);
    /* background: #7c7f37;
    background: linear-gradient(0deg, rgba(63, 65, 28, 0.79) 27%, rgba(124, 127, 55, 0.24) 59%, rgba(255, 255, 255, 0) 100%); */
}

p.the_agenda7:hover {
    background: linear-gradient(0deg, rgb(124, 127, 55, 0.14) 27%, rgb(124, 127, 55, 0.24) 59%, rgba(255, 255, 255, 0) 100%);
}

.the_agenda8 {
    /* background: #b56216;
    background: linear-gradient(0deg, rgba(63, 0, 0, 0.79) 27%, rgba(181, 98, 22, 0.24) 59%, rgba(255, 255, 255, 0) 100%); */
    background-color: rgba(63, 0, 0, 0.79) ;
}

p.the_agenda8:hover {
    background: linear-gradient(0deg, rgb(181, 98, 22, 0.14) 27%, rgb(181, 98, 22, 0.24) 59%, rgba(255, 255, 255, 0) 100%);
}

.the_agenda9 {
    /* background: #7e2a1f;
    background: linear-gradient(0deg, rgba(57, 19, 14, 0.79) 27%, rgba(126, 42, 31, 0.24) 59%, rgba(255, 255, 255, 0) 100%); */
    background-color: rgba(57, 19, 14, 0.79);
    /* color:#fff; */
}

p.the_agenda9:hover {
    background: linear-gradient(0deg, rgb(126, 42, 31, 0.14) 27%, rgb(126, 42, 31, 0.24) 59%, rgba(255, 255, 255, 0) 100%);
}

.the_agenda10 {
    /* background: #bb0868;
    background: linear-gradient(0deg, rgba(82, 4, 46, 0.79) 27%, rgba(187, 8, 104, 0.24) 59%, rgba(255, 255, 255, 0) 100%); */
    background-color: rgba(82, 4, 46, 0.79);
    /* color:#fff; */
}

p.the_agenda10:hover {
    background: linear-gradient(-20deg, #bb0868 20%, rgba(0, 0, 0, 0.13) 70%);
}

.imagebgholder {
    height: 100%;
    width: 100%;
    background-size: cover;
    opacity: 0.8;
}

.thecolorbg {
    background-color: #f1f1f1;
}

.thetitle {
    color: #fff;
    letter-spacing: 9px;
    text-shadow: 0px 0px 10px #000;
    text-transform: uppercase;
    font-size: 50px;
}

.agendatitle {
    text-transform: uppercase;
    font-size: 18px;
    background: #ffffff57;
    padding: 10px 10px 10px 28px;
    margin-left: -25px;
    letter-spacing: 8px;
}

.theagenda {
    text-transform: uppercase;
    font-size: 33px;
    line-height: 50px;
    width: 75%;
}

.theperitem {
    border: 1px solid #e5e5e5;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
}

.agendalist {
    padding-left: 12px;
    display: flex;
    flex-direction: row;
    gap: 35px;
    width: 9999px;
    position: relative;
    z-index: -2;
}

.agendalist li {
    background-color: #fff;
}

.thenavigation {
    text-align: left;
}

.thenavigation p {
    margin-top: 25px;
    font-size: 16px;
    color: #fff;
    text-shadow: 0px 1px 1px #000;
}

.thenavigation a {
    text-decoration: none;
}

.pagenavs a {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    height: 0px !important;
    text-shadow: 0px 1px 2px #000;
}

.lh-25 {
    line-height: 25px;
}

.prevnextbtn button {
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 99px;
    padding: 5px 15px;
    font-size: 13px;
}

.prevnextbtn button:hover {
    cursor: pointer;
    background: #fff;
}

.gap_3 {
    gap: 3px;
}

.infoholder ul {
    display: flex;
    flex-direction: row;
    width: 10000000px;
    padding: 0px;
    gap: 100px;
}

.infoholder ul li {
    /* width: 1035px; */
}

.infoholder {
    width: inherit;
    /* overflow: hidden; */
}

.bigpix_ul {
    /* padding:0px;
    margin:0px; */
    padding: 0px;
    margin: 0px;
    position: relative;
    width: 99999999px;
    height: 100%;
    z-index: -1;
    display: flex;
    gap: 0;
}

.bigpix_ul li {

    list-style: none;
    /* width: 1040px; */
    height: 100%;
}

.thebutton_div:hover {
    color: #333 !important;
}

.ma_holder {}

.navdiv {
    flex: 5;
}

.big-ma-text {
    font-size: 6.5rem;
    text-shadow: 0px 2px 2px #000;
}

.bold-it {
    font-weight: bold;
}

.thelogo_small {
    padding-left: 0px;
}

.thelogo_small li {
    display: inline-block;
}

.sponsors-img {}

.sponsors-img img {
    width: fit-content;
    height: 40px;
    margin-right: 10px;
}

.the_agenda0 {
    background: #000000;
    background: -webkit-linear-gradient(266deg, rgba(0, 0, 0, 0.73) 27%, rgba(0, 0, 0, 0.4) 59%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(266deg, rgba(0, 0, 0, 0.73) 27%, rgba(0, 0, 0, 0.4) 59%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(266deg, rgba(0, 0, 0, 0.73) 27%, rgba(0, 0, 0, 0.4) 59%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#FFFFFF", GradientType=0);
}

.white-it {
    color: #fff !important;
}

.theagendaname_small {
    font-size: 25px;
    color: #fff;
    text-shadow: 0px 1px 1px #000;
}

.agenda_dets_marker {
    left: 0;
    margin-top: 20px;
}

.pop_window {
    display: none;
    position: fixed;
    background: #ffffffeb;
    padding: 50px 25%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000000000000000000000000;
    overflow: auto;
    text-align:justify;
}

.pop_window_btn {
    color: yellow;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.pop_window_btn:hover {
    color:#fff;
}

.thenavlink {
    cursor: pointer;
}

.thenavlink:hover {
    color: #ccc;
}

.closewindow:hover {
    cursor: pointer;
    color: #ccc;
}

.hl_logo {
    /* width: 80px !important;
    position: relative !important; */
    position: relative; 
    z-index: 100000;
    scale: 1.5;
    transition: .5s scale;

    /* transition: 1s width; */
}

.thesystembtn {
  width: fit-content;
  padding: 13px 20px;
  border-radius: 3px;
  font-size: 18px;
  box-shadow: 0px 3px 1px #33333352;
}

.thesystembtn:hover{
    cursor: pointer;
    background:#f1f1f1;
}

.thesystembtn a {
    text-decoration:none;
    color:#333;
}

.theagendalogo:hover {
    cursor:pointer;
    /* width:80px !important; */
    position: relative; 
    z-index: 100000;
    scale: 1.5;
    transition: .5s scale;
    background-color: #fff;
}

.centerall{
    text-align: center;
  justify-content: center;
  display: grid;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.centertext {
    text-align:center;
}

.w-80-p {
    width:80%;
}

.auto-marg {
    margin:auto;
}

.btn_navigation {
    
}

.btn_navigation li {
display: inline-block;
  border-radius: 99px;
  background: #ffba17;
}

.btn_navigation li:hover {
    background:#fff;

    transition: 1s background-color;
}

.mdtlogo {
    width:15% !important;
}

.ints_logos {
    text-align: center;
    justify-content: center;
    
}

.ints_logos img {
    width: 10%;
    height: 10%;
}

@media only screen and (max-width: 1100px) {
    body {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }

    .navdiv {

    }

    .mdtlogo {
        height:10px;
        display:none;    
    }

    .navdiv img {
        width:12vh !important;
    }

    .btn_navigation li {
        margin-bottom:10px;
    }
}